<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

<title>Signup - Nexora</title>

<link rel="stylesheet" 
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="general-page">
    
<div class="login-container">

<h2>Create Account</h2>


<p class="text-muted mb-4">
Join Nexora and manage internships with ease.
</p>



<form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}

{% for category, message in messages %}

<div class="alert alert-{{ category }}">
{{ message }}
</div>

{% endfor %}

{% endif %}

{% endwith %}



<input 
type="text"
name="username"
placeholder="Username"
required>



<input
type="email"
name="email"
placeholder="Email Address"
required>



<select 
name="account_type"
class="form-control"
required
>

<option value="" selected disabled>
Select Account Type
</option>

<option value="student">
Student
</option>

<option value="supervisor">
Advisor / Supervisor
</option>

</select>



<input
type="password"
name="password"
placeholder="Password"
minlength="8"
required
>



<input
type="password"
name="confirm_password"
placeholder="Confirm Password"
minlength="8"
required
>



<button type="submit">
Sign Up
</button>



<p class="signup-link">

Already have an account?

<a href="/login">
Login
</a>

</p>


</form>


</div>

</body>

</html>

