{% set nx_topbar_role = 'student' %}
{% include 'components/global_typography.html' %}
{% include 'components/nexora_ui_defaults.html' %}
{% include 'components/nexora_people_actions.html' %}
{% include 'components/role_topbar.html' %}
<script defer src="{{ url_for('static', filename='js/nexora_student_class_entry.js') }}"></script>
{% include 'components/quick_search_input_fix.html' %}
{% include 'components/nexora_select_control.html' %}
{% include 'components/role_page_heading.html' %}
{% include 'components/sidebar_viewport_fix.html' %}
{% include 'components/nexora_assistant.html' %}
{% include 'components/student_classmate_chat.html' %}
