{% set nx_topbar_role = 'supervisor' %}
{% include 'components/global_typography.html' %}
{% include 'components/nexora_ui_defaults.html' %}
<style id="nx-supervisor-legacy-chevron-reset">
[data-classroom-toggle] > span[aria-hidden="true"]::before {
    content: none !important;
    display: none !important;
}
</style>
{% include 'components/role_topbar.html' %}
{% include 'components/quick_search_input_fix.html' %}
{% include 'components/role_page_heading.html' %}
{% include 'components/sidebar_viewport_fix.html' %}
{% include 'components/nexora_assistant.html' %}
