<!DOCTYPE html>
<html>

<head>

<title>
Assign Internship
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


{% include 'components/admin_sidebar.html' %}


<div class="admin-content">


<h1>
Assign Internship
</h1>


<form method="POST">


<label>
Student
</label>


<select name="student_id">

{% for student in students %}

<option value="{{student.id}}">
{{student.username}}
</option>

{% endfor %}

</select>



<input 
name="company_name"
placeholder="Company Name"
required>


<input 
name="company_address"
placeholder="Company Address"
required>


<input 
name="supervisor_name"
placeholder="Supervisor Name"
required>


<input 
name="supervisor_email"
placeholder="Supervisor Email"
required>


<input 
name="position"
placeholder="Position"
required>


<label>
Start Date
</label>

<input 
type="date"
name="start_date"
required>


<label>
End Date
</label>

<input 
type="date"
name="end_date"
required>



<input 
name="required_hours"
placeholder="Required Hours"
value="400"
required>



<button type="submit">
Assign Internship
</button>


</form>


</div>


</body>

</html>