<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">

        <title>Profile Completed - Nexora</title>

        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/student.css') }}">
    </head>



    <body>


        <div class="success-modal">


            <div class="check">

                ✓

            </div>


            <h2>

                Profile Completed Successfully!

            </h2>


            <p>

                Your Nexora student profile has been created.

                You may now continue to your dashboard.

            </p>



            <a href="/student/dashboard">

                <button>

                    Continue

                </button>

            </a>


        </div>


    </body>


</html>
