<!DOCTYPE html>
<html>
<head>
    <title>Nexora Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body background="/static/images/Nexora Login.png">

    <div class="login-container">
        <h2>Nexora Login</h2>

        <form method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>

            <p class="signup-link">Don't have an account? <a href="/signup">Sign Up</a></p>
        </form>
    </div>

</body>
</html>